{% extends 'myapp/base.html' %}

{% block title %}重設密碼{% endblock %}

{% block content %}
    <section class="form-section">
        <h3>重設密碼</h3>
        <form method="POST" class="form">
            {% csrf_token %}
            <label for="new_password1">新密碼</label>
            <input type="password" id="new_password1" name="new_password1" required>
            <label for="new_password2">確認新密碼</label>
            <input type="password" id="new_password2" name="new_password2" required>
            <button type="submit" class="btn btn-submit">重設密碼</button>
        </form>
    </section>
{% endblock %} 